/* home */

.home{
    min-height: 95vh;
    display: flex;
    align-items: center;
    background: url(images/home.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 55rem;
}

.home .content h3{
    font-size: 5rem;
    color: var(--white);
}

.home .content p{
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 2;
}

/* end */